
<div class="contenu">
    <div class="sidebar">
        <div class="logo">
            <img src="../../../../assets/images/logo.png" alt="Logo">
        </div>
        <nav class="menu">
            <a [routerLink]="['/dasbaord_admin']" class="menu-item" [class.active]="isActive('/dasbaord_admin')">
                <img src="../../../../assets/images/icons/dashboard.svg" alt="">
                Dashboard
            </a>
    
            <a [routerLink]="['/afficher_trajet']" class="menu-item" [class.active]="isActive('/afficher_trajet')">
                <i class="fa-solid fa-ship"></i> Trajet
            </a>
    
            <a [routerLink]="['/ajouterTrajet']" class="menu-item" [class.active]="isActive('/ajouterTrajet')">
                <img src="../../../../assets/images/icons/group.svg" alt="">
                <i class="fa-solid fa-plus"></i> Ajouter un Trajet
            </a>
    
            <a [routerLink]="['/liste_reservation']" class="menu-item" [class.active]="isActive('/liste_reservation')">
                <i class="fa-solid fa-list"></i> Reservation
            </a>
    
            <a (click)="logout()" class="menu-item">
                <img src="../../../../assets/images/icons/logout.svg" alt="">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Déconnexion
            </a>
        </nav>
    
       
    </div>
    <div class="dashboard">
        <div class="container">
            <div class="content">
                <h1>Bienvenu Ndeye MBombe Cisse dans votre dashboard</h1>
                <p>Obtenez les informations sur le trajet maritime dakar ziguinchor a temps reel</p>
                <button class="ajout"><a href="ajouterTrajet">Ajouter un trajet</a></button>
            </div>
            <img src="../../../../assets/images/welcomedashboard.png" alt="">
        </div>
        <!-- statitique -->
        <div class="statistiques">
            <div class="contenu-statistique">
                <div class="icon-container">
                    <i class="fa-solid fa-user fa-3x" style="color: #737f39;"></i>
                </div>            
                <div class="statistiques-texte">
                    <h1>{{ count }}</h1>
                    <h2>Trajets en cours</h2>
                </div>
            </div>
        
            <div class="contenu-statistique">
                <div class="icon-container">
                    <i class="fa-solid fa-user fa-3x" style="color: #6a6565;"></i>
                </div>            
                <div class="statistiques-texte">
                    <h1>{{ countreservation }}</h1>
                    <h2>Reservations</h2>
                </div>
            </div>
        
            <div class="contenu-statistique">
                <div class="icon-container">
                    <i class="fa-solid fa-user fa-3x" style="color: #e74c3c;"></i>
                </div>            
                <div class="statistiques-texte">
                    <h1>{{totalPlacesRestantes }}</h1>
                    <h2>Places restantes</h2>
                </div>
            </div> 
            <div class="contenu-statistique">
                <div class="icon-container">
                    <i class="fa-solid fa-user fa-3x" style="color: #1d4c2d;"></i>
                </div>            
                <div class="statistiques-texte">
                    <h1>{{ countreservation }}</h1>
                    <h2>Reservations</h2>
                </div>
            </div> 
        </div>
        <div class="titlediv">
            <h1 class="reservation">Les Trajets en cours</h1>

        </div>
        <div class="trajets_encours">
            <table  style="width: 93%; border-collapse: collapse;">
              <thead>
                <tr>
                  <th>Destination</th>
                  <th>Réservations</th>
                  <th>Places Restantes</th>
                  <th>Date de Publication</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Destination Ziguinchor</td>
                  <td>26 réservations</td>
                  <td>30 places restantes</td>
                  <td>Publiée le 12/12/2023</td>
                  <td><button>Voir les réservations</button></td>
                </tr>
                <tr>
                  <td>Destination Ziguinchor</td>
                  <td>26 réservations</td>
                  <td>30 places restantes</td>
                  <td>Publiée le 12/12/2023</td>
                  <td><button>Voir les réservations</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          

        <!-- <div *ngIf="trajetsEnCours.length > 0; else noTrajets">
            <div *ngFor="let trajet of trajetsEnCours" class="trajet-card">
              <h3>{{ trajet?.bateau?.libelle }}</h3>
              <p>Places restantes: {{ trajet.placesRestantes }}</p>
            </div>
          </div>
          
          <ng-template #noTrajets>
            <p>Aucun trajet disponible.</p>
          </ng-template>
           -->
        
    </div>
    <!-- <div class="autres">
        <h2>Les dernières réservations</h2>
        <div class="cartes">
          <img src="image.jpg" alt="Image réservation">
          <h1>Réservation de Oumou Cissé</h1>
          <p>Pour le trajet Dakar -> Ziguinchor</p>
          <p>Réservation de Mamadou Diallo</p>
          <p>Pour le trajet Saint-Louis -> Kaolack</p>
          <p>Réservation de Fatou Ndiaye</p>
          <p>Pour le trajet Thiès -> Dakar</p>
        </div>
        <div class="cartes">
            <img src="image.jpg" alt="Image réservation">
            <h1>Réservation de Oumou Cissé</h1>
            <p>Pour le trajet Dakar -> Ziguinchor</p>
            <p>Réservation de Mamadou Diallo</p>
            <p>Pour le trajet Saint-Louis -> Kaolack</p>
            <p>Réservation de Fatou Ndiaye</p>
            <p>Pour le trajet Thiès -> Dakar</p>
          </div>
      </div> -->
      
      
      

    
 
</div>

