
<div class="contenu">
    <div class="sidebar">
        <div class="logo">
            <img src="../../../../assets/images/newlogo.webp" alt="Logo">
        </div>
        <nav class="menu">
            <a [routerLink]="['/dasbaord_admin']" class="menu-item" [class.active]="isActive('/dasbaord_admin')">
                <img src="../../../../assets/images/icons/dashboard.svg" alt="">
                Dashboard
            </a>
    
            <a [routerLink]="['/afficher_trajet']" class="menu-item" [class.active]="isActive('/afficher_trajet')">
                <i class="fa-solid fa-ship"></i> Trajet
            </a>
    
            <a [routerLink]="['/ajouterTrajet']" class="menu-item" [class.active]="isActive('/ajouterTrajet')">
                <img src="../../../../assets/images/icons/group.svg" alt="">
                <i class="fa-solid fa-plus"></i> Ajouter un Trajet
            </a>
    
            <a [routerLink]="['/liste_reservation']" class="menu-item" [class.active]="isActive('/liste_reservation')">
                <i class="fa-solid fa-list"></i> Reservation
            </a>

            <a [routerLink]="['/liste_placeAdmin']" class="menu-item" [class.active]="isActive('/liste_placeAdmin')">
                <i class="fa-solid fa-chair"></i> Liste des places
            </a>
    
            <a (click)="logout()" class="menu-item">
                <img src="../../../../assets/images/icons/logout.svg" alt="">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Déconnexion
            </a>
        </nav>
    
       
    </div>
    <div class="dashboard">
        <div class="header">

                <!-- <i class="fa-regular fa-bell fa-3x  notification-icon" (click)="toggleNotifications()"></i>    -->
                <i class="fa-regular fa-bell fa-3x notification-icon" (click)="toggleNotifications()">
                    <span *ngIf="unreadCount > 0" class="notification-badge">{{ unreadCount }}</span> <!-- Badge pour notifications non lues -->
                </i>
                <!-- Affichage des notifications si `showNotifications` est vrai -->
                <div *ngIf="showNotifications" class="notification-box">
                  <div *ngIf="notifications.length > 0; else noNotifications">
                    <ul>
                      <li *ngFor="let notification of notifications">
                        {{ notification.data.message }} - {{ notification.created_at | date:'short' }}
                      </li>
                    </ul>
                  </div>
                  <ng-template #noNotifications>
                    <p>Aucune notification à afficher.</p>
                  </ng-template>
                </div>
              </div>

            <!-- Icône de notification avec clic pour afficher les notifications -->
          
          
        <div class="container">
            <div class="content">
                <h1>Bienvenu Ndeye MBombe Cisse dans votre dashboard</h1>
                <p>Obtenez les informations sur le trajet maritime dakar ziguinchor a temps reel</p>
                <button class="ajout"><a href="ajouterTrajet">Ajouter un trajet</a></button>
            </div>
            <img src="../../../../assets/images/welcomedashboard.png" alt="">
        </div>
        <!-- statitique -->
        <div class="statistiques">
            <div class="contenu-statistique">
                <div class="icon-container">
                    <i class="fa-solid fa-user fa-3x" style="color: #737f39;"></i>
                </div>            
                <div class="statistiques-texte">
                    <h1>{{ userCount }}</h1>
                    <h2>Utilisateurs</h2>
                </div>
            </div>
        
            <div class="contenu-statistique">
                <div class="icon-container">
                    <i class="fa-solid fa-user fa-3x" style="color: #6a6565;"></i>
                </div>            
                <div class="statistiques-texte">
                    <h1>{{ countreservation }}</h1>
                    <h2>Reservations</h2>
                </div>
            </div>
        
            <div class="contenu-statistique">
                <div class="icon-container">
                    <i class="fa-solid fa-user fa-3x" style="color: #e74c3c;"></i>
                </div>            
                <div class="statistiques-texte">
                    <h1>{{ nouserCount }}</h1>
                    <h2>Reservation sans compte</h2>
                </div>
            </div> 
            <div class="contenu-statistique">
                <div class="icon-container">
                    <i class="fa-solid fa-user fa-3x" style="color: #1d4c2d;"></i>
                </div>            
                <div class="statistiques-texte">
                    <h1>{{ countreservation }}</h1>
                    <h2>Reservations</h2>
                </div>
            </div> 
        </div>
  
<div class="diagramme">
    <app-diagramme></app-diagramme>
</div>
        
    </div>   
    <!-- app-diagramme -->
  
</div>

