
<header>
  <div class="header-content">
    <img src="../../../../assets/images/newlogo.webp" alt="Cosoma Logo" class="logo">
    
    <!-- Menu burger pour mobile -->
    <button class="burger-menu" (click)="toggleMenu()" aria-label="Toggle menu">            <span></span>
    <span></span>
    <span></span>
</button>
    
    

    <nav>
      <ul class="nav-list" [class.active]="isMenuOpen">
        <li><a [routerLink]="['/portail']" class="menu-item" [class.active]="isActive('/portail')">Acceuil</a></li>
        <li><a href="nouvelle_info"> Informations</a></li>
        <li><a href="liste_trajet">Horaires et destinations</a></li>
        <li><a href="historique_reservation">Mes reservations</a></li>

      </ul>
      </nav>
      <div class="dropdown">

        <a class="btn btn-secondary dropdown-toggle register" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <a href="profil"><i class="fa-regular fa-user" style="color: #ffffff;"></i></a>
        </a>
        <a class="btn btn-secondary dropdown-toggle register" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-right-from-bracket"></i>
          <a (click)="logout()">Deconnexion</a>
        </a>

      
    </div>
 
</div>
</header>


<div class="body">
  <div class="body">
    <div class="form-container">
      <h1>Profil de {{ userObject.prenom }} {{ userObject.nom }}</h1>
      <form (ngSubmit)="saveProfile()">
        <div class="form-group">
          <div class="field">
            <label>Prenom :</label>
            <input type="text" [(ngModel)]="userObject.prenom" name="prenom" [readonly]="!isEditing" />
          </div>
          <div class="field">
            <label>Nom :</label>
            <input type="text" [(ngModel)]="userObject.nom" name="nom" [readonly]="!isEditing" />
          </div>
        </div>
    
        <div class="form-group">
          <div class="field">
            <label>Email :</label>
            <input type="email" [(ngModel)]="userObject.email" name="email" [readonly]="!isEditing" />
          </div>
          <div class="field">
            <label>Téléphone :</label>
            <input type="text" [(ngModel)]="userObject.telephone" name="telephone" [readonly]="!isEditing" />
          </div>
        </div>
    
        <div class="form-group">
          <div class="field">
            <label>Nationalité :</label>
            <input type="text" [(ngModel)]="userObject.nationnalite" name="nationnalite" [readonly]="!isEditing" />
          </div>
          <div class="field">
            <label>CNI :</label>
            <input type="text" [(ngModel)]="userObject.numero_identite" name="numero_identite" [readonly]="!isEditing" />
          </div>
        </div>
  
        <!-- Boutons de modification et d'enregistrement -->
        <button type="button" (click)="toggleEdit()" *ngIf="!isEditing">Modifier</button>
        <button type="submit" *ngIf="isEditing">Enregistrer</button>
        <button type="button" (click)="toggleEdit()" *ngIf="isEditing">Annuler</button>
      </form>
    </div>
  </div>
  
</div>
 
  