

<header>
  <div class="header-content">
      <img src="../../../../assets/images/logo.png" alt="Cosoma Logo" class="logo">
      
      <!-- Menu burger pour mobile -->
      <button class="burger-menu" (click)="toggleMenu()" aria-label="Toggle menu">            <span></span>
      <span></span>
      <span></span>
  </button>
      
      <nav>
        <ul class="nav-list" [class.active]="isMenuOpen">
          <li><a  href="portail" >Acceuil</a></li>
          <li><a href="#">Nouvelles Information</a></li>
          <li><a href="liste_trajet">Trajets En Cours</a></li>
          <li><a href="historique_reservation" class="menu-item">Mes reservations</a></li>
          <li><a (click)="logout()" >Se deconnexion</a></li>
          <li><a href="profil"><img src="../../../../assets/images/account_circle 1.png" alt=""></a></li>

          

        </ul>
        </nav>
       
  </div>
</header>
<div class="body">
  <div class="body">
    <div class="form-container">
      <h1>Profil de {{ userObject.prenom }} {{ userObject.nom }}</h1>
      <form (ngSubmit)="saveProfile()">
        <div class="form-group">
          <div class="field">
            <label>Prenom :</label>
            <input type="text" [(ngModel)]="userObject.prenom" name="prenom" [readonly]="!isEditing" />
          </div>
          <div class="field">
            <label>Nom :</label>
            <input type="text" [(ngModel)]="userObject.nom" name="nom" [readonly]="!isEditing" />
          </div>
        </div>
    
        <div class="form-group">
          <div class="field">
            <label>Email :</label>
            <input type="email" [(ngModel)]="userObject.email" name="email" [readonly]="!isEditing" />
          </div>
          <div class="field">
            <label>Téléphone :</label>
            <input type="text" [(ngModel)]="userObject.telephone" name="telephone" [readonly]="!isEditing" />
          </div>
        </div>
    
        <div class="form-group">
          <div class="field">
            <label>Nationalité :</label>
            <input type="text" [(ngModel)]="userObject.nationnalite" name="nationnalite" [readonly]="!isEditing" />
          </div>
          <div class="field">
            <label>CNI :</label>
            <input type="text" [(ngModel)]="userObject.numero_identite" name="numero_identite" [readonly]="!isEditing" />
          </div>
        </div>
  
        <!-- Boutons de modification et d'enregistrement -->
        <button type="button" (click)="toggleEdit()" *ngIf="!isEditing">Modifier</button>
        <button type="submit" *ngIf="isEditing">Enregistrer</button>
        <button type="button" (click)="toggleEdit()" *ngIf="isEditing">Annuler</button>
      </form>
    </div>
  </div>
  
</div>
 
  