<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosoma Reservation</title>
    <link rel="stylesheet" href="portail.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-content">
            <img src="../../../../assets/images/logo.png" alt="Cosoma Logo" class="logo">
            <nav>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Nouvelles Information</a></li>
                    <li><a href="#">Trajets En Cours</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <a href="#" class="btn register">S'inscrire</a>
            </div>
        </div>
        <div class="baniere">
            
            <div class="baniere-content">
                <h1>Bienvenue Sur Cosoma Reservation</h1>
                <p>Simplifiez vos réservations de billets pour voyager en toute sérénité. Planifiez <br>
                      votre trajet maritime en quelques clics et profitez d'une expérience fluide et  <br>
                     pratique.</p>
                     <div class="connexion-buttons">
                        <a href="#" class="btn register">Se Connecter</a>
                    </div>

            </div>
        </div>
    </header>
<section class="mission">
    <div class="mission-content">
        <h1>Notre Mission</h1>
        <p>
            Notre engagement est d'offrir à nos utilisateurs une <br>
            expérience fluide, sécurisée et transparente, tout en  <br>
            assurant la fiabilité des services offerts. Nous <br>
            croyons en l'importance de l'innovation pour répondre <br>
            aux besoins actuels et futurs de nos clients.
        </p>
        <button ><a href="" class="mission_button">Voir les trajets</a></button>
    </div>
    <img src="../../../../assets/images/mission.png" alt="">
</section>

<hr class="separator">

<section class="vision">
    <img src="../../../../assets/vision.png" alt="">
    <div class="vision-content">
        <h1>Notre Vision</h1>
        <p>
            Notre mission est de développer des solutions <br> 
            innovantes et accessibles qui répondent aux besoins <br>
             des utilisateurs, en simplifiant leurs interactions avec <br>
              les services essentiels. Nous nous engageons à  <br>
               améliorer l'expérience des usagers à travers des <br>
                plateformes intuitives, efficaces et adaptées aux  <br>
                exigences modernes, tout en contribuant au  <br>
                développement technologique et à l'amélioration <br> 
                continue de nos services.
        </p>
    </div>
</section>

<h1 class="servicetitle">Nos Services</h1>

<section class="service">
    <div class="firstpart">
        <!-- consultation -->
        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/consultation.png" alt="Icône de cloche">
            </div>
            <h2>Consultation de trajet</h2>
            <p>
                Les utilisateurs peuvent rechercher  <br>
                et consulter les trajets disponibles, y <br>
                 compris les horaires, les prix, les <br>
                  durées et les places restantes. <br>
            </p>
        </div>

        <!--reservation en ligne  -->

        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/consultation.png" alt="Icône de cloche">
            </div>
            <h2>Consultation de trajet</h2>
            <p>
                Les utilisateurs peuvent rechercher  <br>
                et consulter les trajets disponibles, y <br>
                 compris les horaires, les prix, les <br>
                  durées et les places restantes. <br>
            </p>
        </div>

        <!-- notificatio et rappel -->

        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/consultation.png" alt="Icône de cloche">
            </div>
            <h2>Consultation de trajet</h2>
            <p>
                Les utilisateurs peuvent rechercher  <br>
                et consulter les trajets disponibles, y <br>
                 compris les horaires, les prix, les <br>
                  durées et les places restantes. <br>
            </p>
        </div>

    </div>
    <div class="secondpart">
         <!-- consultation -->
         <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/consultation.png" alt="Icône de cloche">
            </div>
            <h2>Consultation de trajet</h2>
            <p>
                Les utilisateurs peuvent rechercher  <br>
                et consulter les trajets disponibles, y <br>
                 compris les horaires, les prix, les <br>
                  durées et les places restantes. <br>
            </p>
        </div>

        <!--reservation en ligne  -->

        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/consultation.png" alt="Icône de cloche">
            </div>
            <h2>Consultation de trajet</h2>
            <p>
                Les utilisateurs peuvent rechercher  <br>
                et consulter les trajets disponibles, y <br>
                 compris les horaires, les prix, les <br>
                  durées et les places restantes. <br>
            </p>
        </div>

        <!-- notificatio et rappel -->

        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/consultation.png" alt="Icône de cloche">
            </div>
            <h2>Consultation de trajet</h2>
            <p>
                Les utilisateurs peuvent rechercher  <br>
                et consulter les trajets disponibles, y <br>
                 compris les horaires, les prix, les <br>
                  durées et les places restantes. <br>
            </p>
        </div>


    </div>

</section>

   



    
</body>

</html>