<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosoma Reservation</title>
    <link rel="stylesheet" href="portail.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <div class="header-content">
            <img src="../../../../assets/images/newlogo.webp" alt="Cosoma Logo" class="logo">
            
            <!-- Menu burger pour mobile -->
            <button class="burger-menu" (click)="toggleMenu()" aria-label="Toggle menu">            <span></span>
            <span></span>
            <span></span>
        </button>
            
            

            <nav>
                <ul class="nav-list" [class.active]="isMenuOpen">
                  <li><a href="portail"  >Acceuil</a></li>
                  <li><a href="portail"  >A propos</a></li>
                  <li><a href="portail"  >Nos services</a></li>
                  <li><a href="portail"  >Contact</a></li>
                  <li><a href="nouvelle_info"> Informations</a></li>
                  <li><a href="liste_trajet">Horaires et destinations</a></li>
                </ul>
              </nav>
            <!-- <div class="auth-buttons">
                <a href="inscription_user" class="btn register">S'inscrire</a>
            </div> -->
            <div class="dropdown me-3">
                <button class="btn btn-secondary dropdown-toggle user-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle me-2"></i>
                  S'inscrire
                </button>
            </div>
        </div>
        <div class="baniere">
            <div class="baniere-content">
                <h1>Bienvenue Sur Cosoma Reservation</h1>
                <p>Simplifiez vos réservations de billets pour voyager en toute sérénité. Planifiez <br>
                   votre trajet maritime en quelques clics et profitez d'une expérience fluide et  <br>
                   pratique.</p>
                <div class="connexion-buttons">
                    <a href="connexion" class="btn register">Réserver maintenant</a>
                </div>
            </div>
        </div>
    </header>
    
<section class="mission">
    <div class="mission-content">
        <h1>Présentation de Cosoma Réservation</h1>
        <p>
            Bienvenue dans l'ère numérique avec Cosoma Réservation,  <br>
            votre solution innovante pour l'achat et la vente de billets <br>
            en ligne pour le trajet maritime entre Dakar et Ziguinchor. <br>
            Notre plateforme vise à simplifier et à moderniser le <br>
            processus de réservation, tout en offrant une expérience <br>
            utilisateur fluide et intuitive.
        </p>
        <button ><a href="liste_trajet" class="mission_button">Voir les trajets</a></button>
    </div>
    <img src="../../../../assets/images/mission.png" alt="">
</section>

<hr class="separator">

<section class="vision">
    <img src="../../../../assets/vision.png" alt="">
    <div class="vision-content">
        <h1>Notre Vision</h1>
        <p>
            Notre mission est de développer des solutions <br> 
            innovantes et accessibles qui répondent aux besoins <br>
             des utilisateurs, en simplifiant leurs interactions avec <br>
              les services essentiels. Nous nous engageons à  <br>
               améliorer l'expérience des usagers à travers des <br>
                plateformes intuitives, efficaces et adaptées aux  <br>
                exigences modernes, tout en contribuant au  <br>
                développement technologique et à l'amélioration <br> 
                continue de nos services.
        </p>
    </div>
</section>

<h1 class="servicetitle">Nos Services</h1>

<section class="service">
    <div class="firstpart">
        <!-- consultation -->
        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/consultation.png" alt="Icône de cloche">
            </div>
            <h2>Consultation de trajet</h2>
            <p>
                Les utilisateurs peuvent rechercher  <br>
                et consulter les trajets disponibles, y <br>
                 compris les horaires, les prix, les <br>
                  durées et les places restantes. <br>
               
            </p>
        </div>

        <!--reservation en ligne  -->

        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/reservationligne.png" alt="Icône de cloche">
            </div>
            <h2>Réservation en ligne</h2>
            <p>
                Le service principal permet de  <br>
                 réserver des billets pour des trajets <br>
                  spécifiques directement via la  <br>
                  plateforme, avec la possibilité de <br>
                  choisir des options
            </p>
        </div>

        <!-- notificatio et rappel -->

        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/notif.png" alt="Icône de cloche">
            </div>
            <h2>Notifications et rappels</h2>
            <p>
                Le site envoie des notifications pour <br>
                 confirmer les réservations, ainsi que <br>
                  des rappels de voyage avant la date <br>
                  du départ.
            </p>
        </div>

    </div>
    <div class="secondpart">
         <!-- consultation -->
         <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/historique.png" alt="Icône de cloche">
            </div>
            <h2>Historique des réservations</h2>
            <p>
                Un service qui permet aux  <br>
                utilisateurs de consulter l'historique  <br>
                de leurs réservations passées, avec  <br>
                des détails sur les trajets effectués.
            </p>
        </div>

        <!--reservation en ligne  -->

        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/option.png" alt="Icône de cloche">
            </div>
            <h2>Options personnalisées</h2>
            <p>
                Les utilisateurs peuvent sélectionner  <br>
                des préférences spécifiques (classe  <br>
                de voyage, sièges préférés, etc.) <br>
                 pour personnaliser leur expérience.
            </p>
        </div>

        <!-- notificatio et rappel -->

        <div class="card">
            <div class="notification-icon">
                <img src="../../../../assets/images/infotempsreel.png" alt="Icône de cloche">
            </div>
            <h2>Informations en temps réel</h2>
            <p>
                Les utilisateurs peuvent rechercher   <br>
                et consulter les trajets disponibles, y <br>
                 compris les horaires, les prix, les <br>
                  durées et les places restantes.
            </p>
        </div>


    </div>

</section>

<h1 class="servicetitle">Nos Horaires</h1>



<div class="horaire">
    <div class="img_zig_dak">
        <img src="../../../../assets/images/zigdakr2.png" alt="">
    </div>
    <div class="zigdak">
        <div class="title">
            <h1 class="zig">Ziguinchor</h1>
            <h1 class="dak">Dakar</h1>
        </div>
        
        <div class="carte-horaires"> <!-- Nouvelle div pour la carte -->
            <div class="les_horaires">
                <h2 class="titre-depart">Jours de départ</h2>
                <div class="jeu_dim">
                    <button class="jour-button">Jeudi</button>
                    <button class="jour-button">Dimanche</button>
                </div>
                <div class="embarquement_depart">
                    <div class="embarquement">
                        <h2>Embarquement</h2>
                        <button>09h-11h45</button>
                    </div>
                    <div class="depart">
                        <h2>Départ</h2>
                        <button>13h00</button>
                    </div>
                </div>
                <h2 class="titre-depart">Jours de départ</h2>
                <div class="jeu_dim">
                    <button class="jour-button">Mardi</button>
                    <button class="jour-button">Vendredi</button>
                </div>
                <div class="embarquement_depart">
                    <div class="embarquement">
                        <h2>Embarquement</h2>
                        <button>12h-14h</button>
                    </div>
                    <div class="depart">
                        <h2>Départ</h2>
                        <button>15h00</button>
                    </div>
                </div>
            </div>
        </div> <!-- Fin de la carte -->
    </div>
</div>



<div class="horaire">
    
    <div class="zigdak">
        <div class="title_deux">
            <h1 class="zig">Dakar</h1>
            <h1 class="dak">Ziguinchor</h1>
        </div>
        
        <div class="carte-horaires_deux"> <!-- Nouvelle div pour la carte -->
            <div class="les_horaires">
                <h2 class="titre-depart">Jours de départ</h2>
                <div class="jeu_dim">
                    <button class="jour-button">Jeudi</button>
                    <button class="jour-button">Dimanche</button>
                </div>
                <div class="jeu_dim">
                    <button class="jour-button">Mardi</button>
                    <button class="jour-button">Vendredi</button>
                </div>
                <div class="embarquement_depart">
                    <div class="embarquement">
                        <h2>Embarquement</h2>
                        <button>15h-19h</button>
                    </div>
                    <div class="depart">
                        <h2>Départ</h2>
                        <button>20h00</button>
                    </div>
                </div>
                
            </div>
        </div> <!-- Fin de la carte -->
    </div>

    <div class="img_dak_zig">
        <img src="../../../../assets/images/dakzig.png" alt="">
    </div>
</div>

<h1 class="servicetitle">Nos Tarifs</h1>



    <section class="tarif">
        <div class="tarif_senegalais nationalite-card">
            <h1>Pour les sénégalais</h1>
            <div class="sub-cards">
                <div class="first">
                    <div class="sub-card">
                        <img src="../../../../assets/images/cabine4.png" alt="Icône Cabine 4 personnes">
                        <h4>Cabine 4 personnes</h4>
                        <h4>Prix: 24 500 FCFA</h4>
                    </div>
                    <div class="sub-card">
                        <img src="../../../../assets/images/cabine2.png" alt="Icône Cabine 2 personnes">
                        <h4>Cabine 2 personnes</h4>
                        <h4>Prix: 26 500 FCFA</h4>
                    </div>
                </div>
                <div class="fisrt">
                    <div class="sub-card">
                        <i class="fa-solid fa-user-plus fa-3x" style="color:white;"></i>
                        <h4>Cabine 8 personnes</h4>
                        <h4>Prix: 12 500 FCFA</h4>
                    </div>
                    <div class="sub-card">
                        <img src="../../../../assets/images/fauteuil.png" alt="Icône Fauteuil">
                        <h4>Fauteuil </h4>
                        <h4>Prix: 5 000 FCFA</h4>
                    </div>
                </div>
            
               
            </div>
        </div>

  

     

            <div class="tarif_senegalais nationalite-card">
                <h1>Pour les etrangers residents</h1>
                <div class="sub-cards">
                    <div class="first">
                        <div class="sub-card">
                            <img src="../../../../assets/images/cabine4.png" alt="Icône Cabine 4 personnes">
                            <h4>Cabine 4 personnes</h4>
                            <h4>Prix: 24 900 FCFA</h4>
                        </div>
                        <div class="sub-card">
                            <img src="../../../../assets/images/cabine2.png" alt="Icône Cabine 2 personnes">
                            <h4>Cabine 2 personnes</h4>
                            <h4>Prix: 26 900 FCFA</h4>
                        </div>
                    </div>
                    <div class="fisrt">
                        <div class="sub-card">
                            <i class="fa-solid fa-user-plus fa-3x" style="color:white;"></i>
                            <h4>Cabine 8 personnes</h4>
                            <h4>Prix: 12 900 FCFA</h4>
                        </div>
                        <div class="sub-card">
                            <img src="../../../../assets/images/fauteuil.png" alt="Icône Fauteuil">
                            <h4>Fauteuil </h4>
                            <h4>Prix: 10 900 FCFA</h4>
                        </div>
                    </div>
                
                   
                </div>
            </div>

  
        <div class="tarif_senegalais nationalite-card">
            <h1>Pour les etrangers non residents</h1>
            <div class="sub-cards">
                <div class="first">
                    <div class="sub-card">
                        <img src="../../../../assets/images/cabine4.png" alt="Icône Cabine 4 personnes">
                        <h4>Cabine 4 personnes</h4>
                        <h4>Prix: 28 900 FCFA</h4>
                    </div>
                    <div class="sub-card">
                        <img src="../../../../assets/images/cabine2.png" alt="Icône Cabine 2 personnes">
                        <h4>Cabine 2 personnes</h4>
                        <h4>Prix: 30 900 FCFA</h4>
                    </div>
                </div>
                <div class="fisrt">
                    <div class="sub-card">
                        <i class="fa-solid fa-user-plus fa-3x" style="color:white;"></i>
                        <h4>Cabine 8 personnes</h4>
                        <h4>Prix: 18 500 FCFA</h4>
                    </div>
                    <div class="sub-card">
                        <img src="../../../../assets/images/fauteuil.png" alt="Icône Fauteuil">
                        <h4>Fauteuil </h4>
                        <h4>Prix: 15 900 FCFA</h4>
                    </div>
                </div>
            
               
            </div>
        </div>
</section>

<h1 class="servicetitle">Nous contacter</h1>
<div class="form-container">
    <form class="centered-form">
        <div class="input-row">
            <input type="text" placeholder="Prenom et nom">
            <input type="text" placeholder="Email">
        </div>
        <div class="message-row">
            <textarea placeholder="Votre message ici..."></textarea>
        </div>
        <div class="button-row">
            <button type="submit">Envoyer</button>

        </div>

    </form>
</div>

<footer>
    <!-- <img src="../../../../assets/images/logo.png" alt=""> -->
    <p>&copy; 2024 Cosoma. All Rights Reserved.</p>
    <ul class="social-media">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google</a></li>
        <li><a href="#">Twitter</a></li>
    </ul>
</footer>


</body>

</html>