<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="afficher-trajet.component.css">
</head>
<body>

     <!-- sidebar -->

<div class="contenu">
    <div class="sidebar">
        <div class="logo">
            <img src="../../../../assets/images/newlogo.webp" alt="Logo">
        </div>
        <nav class="menu">
            <a [routerLink]="['/dasbaord_admin']" class="menu-item" [class.active]="isActive('/dasbaord_admin')">
                <img src="../../../../assets/images/icons/dashboard.svg" alt="">
                Dashboard
            </a>
    
            <a [routerLink]="['/afficher_trajet']" class="menu-item" [class.active]="isActive('/afficher_trajet')">
                <i class="fa-solid fa-ship"></i> Trajet
            </a>
    
            <a [routerLink]="['/ajouterTrajet']" class="menu-item" [class.active]="isActive('/ajouterTrajet')">
                <img src="../../../../assets/images/icons/group.svg" alt="">
                <i class="fa-solid fa-plus"></i> Ajouter un Trajet
            </a>
    
            <a [routerLink]="['/liste_reservation']" class="menu-item" [class.active]="isActive('/liste_reservation')">
                <i class="fa-solid fa-list"></i> Reservation
            </a>

            <a [routerLink]="['//reservationAdmin']" class="menu-item" [class.active]="isActive('//reservationAdmin')">
                <i class="fa-solid fa-list"></i> Mes reservations
              </a>
            <a (click)="logout()" class="menu-item">
                <img src="../../../../assets/images/icons/logout.svg" alt="">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Déconnexion
            </a>
        </nav>
    
       
    </div>

     <!-- sidebar fin -->

    <div class="trajet-container">
        <!-- app-barrecherche -->
        <div class="profil">
       

             <div class="container mt-5">
            <div class="search-bar" >
                <input type="date" class="form-control" placeholder="Rechercher" [(ngModel)]="searchTerm" (input)="searchTrajets()">
            </div>
          </div>
        
        

        <!-- <app-profilnotif></app-profilnotif> -->
        </div>
        <h1>LISTE DES TRAJETS</h1>
        <table *ngIf="tabtrajet.length > 0; else noTrajets">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date de départ</th>
                    <th>Date d'arrivée</th>
                    <th>Lieu de départ</th>
                    <th>Lieu d'arrivée</th>
                    <th>Heure d'embarquement</th>
                    <th>Heure de départ</th>
                    <th>Statut</th>
                    <th>Bateau</th> <!-- Ou l'attribut que vous souhaitez afficher -->
                    <th>Details</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trajet of getDisplayedTrajets()" 
                    [ngClass]="trajet.statut ? 'trajet-publie' : 'trajet-non-publie'"

                    (click)="navigateToplace(trajet.id)" style="cursor: pointer;"
                    style="cursor: pointer;"
                    >
                    <td>{{ trajet.id }}</td>
                    <td>{{ trajet.date_depart }}</td>
                    <td>{{ trajet.date_arrivee }}</td>
                    <td>{{ trajet.lieu_depart }}</td>
                    <td>{{ trajet.lieu_arrive }}</td>
                    <td>{{ trajet.heure_embarquement }}</td>
                    <td>{{ trajet.heure_depart }}</td>
                    <td>{{ trajet.statut ? 'Actif' : 'Inactif' }}</td>
                    <td>{{ trajet.bateau ? trajet.bateau.libelle : 'N/A' }}</td>
                    <td>
                        

                          <button (click)="viewReservationDetails(trajet.id)"> <i class="fa-solid fa-circle-info"></i></button>

                        <button (click)="trajet ? editTrajet(trajet) : null">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button (click)="deleteTrajet(trajet.id)" class="delete"><i class="fa-solid fa-delete-left "></i></button>
                        <button (click)="changerStatut(trajet)">
                            {{ trajet.statut ? 'Dépublier' : 'Publier' }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-chevron-left fa-2x"></i></button>
            <span>Page {{ currentPage }} sur {{ getTotalPages() }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()"><i class="fa-solid fa-chevron-right fa-2x"></i></button>
        </div>
        <ng-template #noTrajets>
            <p>Aucun trajet disponible.</p>
        </ng-template>
       
    </div>
</div>





    
</body>
</html>