
<header>
  <div class="header-content">
      <img src="../../../../assets/images/logo.png" alt="Cosoma Logo" class="logo">
      
      <!-- Menu burger pour mobile -->
      <button class="burger-menu" (click)="toggleMenu()" aria-label="Toggle menu">            <span></span>
      <span></span>
      <span></span>
  </button>
      
      <nav>
          <ul class="nav-list" [class.active]="isMenuOpen">
            <li><a  href="portail" >Acceuil</a></li>
            <li><a href="#">Nouvelles Information</a></li>
            <li><a href="liste_trajet">Trajets En Cours</a></li>
            <li><a href="historique_reservation" class="menu-item">Mes reservations</a></li>
            <li><a (click)="logout()" >Se deconnexion</a></li>
            <li><a href="profil"><img src="../../../../assets/images/account_circle 1.png" alt=""></a></li>

            

          </ul>
        </nav>
      
  </div>
</header>
    
    <div class="body">
      <h1>Historique des Réservations</h1>

      
      
      
      <ng-template #noReservations>
        <p>Aucune réservation trouvée.</p>
      </ng-template>
    </div>
<div *ngIf="userReservations.length > 0; else noReservations" class="liste_reservation">
  <div    *ngFor="let reservation of userReservations" class="ticket">
  <div class="style"></div>

    <div class="section-contente">

      <div class="info-perso">
        <div class="titre-section">
          <div class="logo"><img src="./../../../../assets/images/logo.png" alt=""> <span>COSAMA RESERVATION</span></div>
          <div class="titre">
            <h2>ticket de reservation</h2>
          </div>
        </div>

        <div class="left-section">
         <div class="info_passager">
          <div class="info">
            <p>Prénom du passager: </p>
            <h3>{{ reservation.user?.prenom }}  {{ reservation.user?.nom }}</h3> 
          </div>
        <div class="info">
          <p>Téléphone:</p>
          <h3>{{ reservation.user?.telephone }}</h3>
        </div>

        <div class="info">
          <p>Email:</p>
          <h3>{{ reservation.user?.email }}</h3>
        </div>
        <div class="info">
          <p>Nationalité: </p>
          <h3>{{ reservation.user?.nationnalite }}</h3>
        </div>
        <div class="info">
          <p>Date de réservation: </p>
          <h3>{{ reservation.created_at | date: 'short' }}</h3>
        </div>
         </div>

         <div class="info_passager2">
          <div class="info">
            <p>Date de départ: </p>
            <h3>{{ reservation.trajet?.date_depart }}</h3>
          </div>

          <div class="info">
            <p>Heure d'embarquement: </p>
            <h3>{{ reservation.trajet?.heure_embarquement }}</h3>
          </div>

          <div class="info">
            <p>Heure de départ: </p>
            <h3>{{ reservation.trajet?.heure_depart }}</h3>
          </div>

          <div class="info">
            <p>Numéro de réservation: </p>
            <h3>{{ reservation.id }}</h3>
          </div>    
         </div>

          <div class="qr-code">
            <img [src]="reservation.qr_code" alt="QR Code de réservation" />
          </div>
        </div>

      
        
      </div>

      <div class="categorie_section">
        <div class="titreCategorie">
            <h2>Categorie de place</h2>
        </div>


        <div class="right-section">
          <div class="dashed-line"></div>
          <div class="autres">
            <div class="info">
              <p>Catégorie: </p>
              <h3>{{ reservation.place?.categorie?.libelle }}</h3> 
            </div>
            <div class="info">
              <p>Tarif: </p>
              <h3>{{ reservation.tarif?.tarif }}</h3> 
            </div>
  
            <div class="info">
              <p>Place: </p>
              <h3>{{ reservation.place?.libelle }}</h3> 
            </div>
  
            <div class="info">
            <p>Statut:</p>
            <h3>{{ reservation.statut ? 'Confirmée' :'Non Confirmée' }}</h3> 
          </div>

          <div class="bottom_section">
            <div class="destination">
              <p>De</p>
              <h3>{{ reservation.trajet?.lieu_depart }}</h3>
            </div>

            <div class="destination2">
              <p>vers</p>
              <h3>{{ reservation.trajet?.lieu_arrive }}</h3>
            </div>


          </div>
          </div>

         
        </div>
       
    </div>
    
 
</div>  
   
  