<!-- <div>
    <h2>Historique des Réservations</h2>
    <div *ngIf="userReservations.length > 0; else noReservations">
      <ul>
        <li *ngFor="let reservation of userReservations">
          <p><strong>Prenom</strong> {{ reservation.user?.prenom }}</p>
          <p><strong>Nom</strong> {{ reservation.user?.nom }}</p>
          <p><strong>Telephone</strong> {{ reservation.user?.telephone }}</p>
          <p><strong>email</strong> {{ reservation.user?.email }}</p>
          <p><strong>Nationnalite</strong> {{ reservation.user?.nationnalite}}</p>
          <p><strong>ID Réservation:</strong> {{ reservation.id }}</p>
          <p><strong>Place:</strong> {{ reservation.place?.libelle }}</p>
          <p><strong>Lieu d'arriver':</strong> {{ reservation.trajet?.lieu_arrive }}</p>
          <p><strong>Lieu de depart</strong> {{ reservation.trajet?.lieu_depart }}</p>
          <p><strong>Date reservation</strong> {{ reservation.created_at }}</p>
          <p><strong>Embarquement</strong> {{ reservation.trajet?.heure_embarquement }}</p>
          <p><strong>Heure de depart</strong> {{ reservation.trajet?.heure_depart }}</p>
          <p><strong>Categorie</strong> {{ reservation.place?.categorie?.libelle }}</p>
          <p><strong>Statut:</strong> {{ reservation.statut ? 'Confirmée' :'Non Confirmée' }}</p>
          <img [src]="reservation.qr_code" alt="QR Code de réservation" />
          <p><strong>Tarif:</strong> {{ reservation.tarif?.tarif }}</p>
          <hr>
        </li>
      </ul>
    </div>
    <ng-template #noReservations>
      <p>Aucune réservation trouvée.</p>
    </ng-template>
  </div> -->

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    
    <header>
      <div class="header-content">
          <img src="../../../../assets/images/logo.png" alt="Cosoma Logo" class="logo">
          <nav>
              <ul>
                  <li><a href="#">Accueil</a></li>
                  <li><a href="#">Nouvelles Information</a></li>
                  <li><a href="#">Trajets en cours</a></li>
              </ul>
          </nav>
          <div class="auth-buttons">
              <a href="inscription_user" class="btn register">S'inscrire</a>
          </div>
      </div>
  </header>
    
    <div class="body">
      <h1>Historique des Réservations</h1>
      <div *ngIf="userReservations.length > 0; else noReservations">
        <ul>
          <li *ngFor="let reservation of userReservations" class="reservation-card">
            <div class="reservation-details">
              <h2>Destination {{ reservation.trajet?.lieu_arrive }}</h2>
              <p><strong>Prenom:</strong> {{ reservation.user?.prenom }}</p>
              <p><strong>Nom:</strong> {{ reservation.user?.nom }}</p>
              <p><strong>Téléphone:</strong> {{ reservation.user?.telephone }}</p>
              <p><strong>Email:</strong> {{ reservation.user?.email }}</p>
              <p><strong>Nationalité:</strong> {{ reservation.user?.nationnalite }}</p>
              <p><strong>ID Réservation:</strong> {{ reservation.id }}</p>
              <p><strong>Place:</strong> {{ reservation.place?.libelle }}</p>
              <p><strong>Lieu d'arrivée:</strong> {{ reservation.trajet?.lieu_arrive }}</p>
              <p><strong>Lieu de départ:</strong> {{ reservation.trajet?.lieu_depart }}</p>
              <p><strong>Date réservation:</strong> {{ reservation.created_at | date: 'short' }}</p>
              <p><strong>Embarquement:</strong> {{ reservation.trajet?.heure_embarquement }}</p>
              <p><strong>Heure de départ:</strong> {{ reservation.trajet?.heure_depart }}</p>
              <p><strong>Catégorie:</strong> {{ reservation.place?.categorie?.libelle }}</p>
              <p><strong>Statut:</strong> {{ reservation.statut ? 'Confirmée' :'Non Confirmée' }}</p>
              <p><strong>Tarif:</strong> {{ reservation.tarif?.tarif }}</p>
            </div>
            <div class="reservation-qr">
              <img [src]="reservation.qr_code" alt="QR Code de réservation" />
            </div>
          </li>
        </ul>
      </div>
      <ng-template #noReservations>
        <p>Aucune réservation trouvée.</p>
      </ng-template>
    </div>
    
  </body>
  </html>