
<header>
  <div class="header-content">
      <img src="../../../../assets/images/logo.png" alt="Cosoma Logo" class="logo">
      
      <!-- Menu burger pour mobile -->
      <button class="burger-menu" (click)="toggleMenu()" aria-label="Toggle menu">            <span></span>
      <span></span>
      <span></span>
  </button>
      
      <nav>
          <ul class="nav-list" [class.active]="isMenuOpen">
            <li><a  href="portail" >Acceuil</a></li>
            <li><a href="#">Nouvelles Information</a></li>
            <li><a href="liste_trajet">Trajets En Cours</a></li>
            <li><a href="historique_reservation" class="menu-item">Mes reservations</a></li>
            <li><a (click)="logout()" >Se deconnexion</a></li>
            <li><a href="profil"><img src="../../../../assets/images/account_circle 1.png" alt=""></a></li>

            

          </ul>
        </nav>
      
  </div>
</header>
    
    <div class="body">
      <h1>Historique des Réservations</h1>
      <div *ngIf="userReservations.length > 0; else noReservations">
        <ul>
          <li *ngFor="let reservation of userReservations" class="reservation-card">
            <div class="reservation-details">
              <h2>Destination {{ reservation.trajet?.lieu_arrive }}</h2>
              <p><strong>Prenom:</strong> {{ reservation.user?.prenom }}</p>
              <p><strong>Nom:</strong> {{ reservation.user?.nom }}</p>
              <p><strong>Téléphone:</strong> {{ reservation.user?.telephone }}</p>
              <p><strong>Email:</strong> {{ reservation.user?.email }}</p>
              <p><strong>Nationalité:</strong> {{ reservation.user?.nationnalite }}</p>
              <p><strong>ID Réservation:</strong> {{ reservation.id }}</p>
              <p><strong>Place:</strong> {{ reservation.place?.libelle }}</p>
              <p><strong>Lieu d'arrivée:</strong> {{ reservation.trajet?.lieu_arrive }}</p>
              <p><strong>Lieu de départ:</strong> {{ reservation.trajet?.lieu_depart }}</p>
              <p><strong>Date réservation:</strong> {{ reservation.created_at | date: 'short' }}</p>
              <p><strong>Embarquement:</strong> {{ reservation.trajet?.heure_embarquement }}</p>
              <p><strong>Heure de départ:</strong> {{ reservation.trajet?.heure_depart }}</p>
              <p><strong>Catégorie:</strong> {{ reservation.place?.categorie?.libelle }}</p>
              <p><strong>Statut:</strong> {{ reservation.statut ? 'Confirmée' :'Non Confirmée' }}</p>
              <p><strong>Tarif:</strong> {{ reservation.tarif?.tarif }}</p>
            </div>

            <div class="reservation-qr">

              <img [src]="reservation.qr_code" alt="QR Code de réservation" />

            </div>

          </li>

        </ul>
      </div>
      <ng-template #noReservations>
        <p>Aucune réservation trouvée.</p>
      </ng-template>
    </div>
    <button><a href="https://checkout.naboopay.com/checkout/ec597225-ad9d-40ac-9339-3095bdb5615d">Confirmer ma reservation</a></button>

    
 
 