

body {
  background-color: #f4f4f4;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.burger-menu span {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
} 

/* Styles par défaut */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #227093;
  }
  
  .logo {
    width: 150px;
    margin-left: 30px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 60px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
  
  
  .auth-buttons .btn {
    margin-left: 20px;
    padding: 20px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #227093;
  }
  
  .register {
    background-color: white;
    font-size: 35px;
    margin-right: 100px;
    font-weight: bold;
  }
  
/* Styles pour les cartes de réservation */
.reservation-card {
    display: flex;
    width: 1200px; /* Largeur initiale */
    height: 1100px; /* Hauteur initiale */
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    margin-top: 120px;
}

.reservation-details {
    flex: 1; 
    padding: 50px; 
    margin-left: 40px; 
}

.reservation-qr {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 300px; /* Réduire la largeur pour les petits écrans */
    background-color: #fff; 
    padding: 30px;
}

.reservation-qr img {
    max-width: 100%; 
    height: auto; 
}

.profil{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

p {
    font-size: 30px; 
}

h1 {
    font-size: 40px;
    font-family: "Gilda Display", serif;
    font-weight: bold;
    text-align: center;
    margin-left: 130px; 
    color: #227093;
}

/* Media Queries pour la réactivité */
@media (max-width: 1024px) {
    .reservation-card {
        flex-direction: column; /* Aligne les éléments verticalement */
        width: 99%; /* Largeur en pourcentage */
        height: auto; /* Ajuste la hauteur */
        margin-top: 30px;
    }
    
    .reservation-details {
        padding: 10px; /* Réduit le remplissage pour les petits écrans */
        margin-left: 0; /* Supprime la marge gauche */
    }
    .body{
        margin-top: 230px;
        margin-right: 40px;
    }

  
    
    .reservation-qr {
        width: 30%; /* Remplit l'espace disponible */
        padding: 10px; /* Ajoute un peu de remplissage */
    }

    h1 {
        font-size: 20px; /* Réduit la taille de la police pour les petits écrans */
        margin-left: 0; /* Centre le titre */
    }
    h2{
        font-size: 22px;
    }

    p {
        font-size: 16px; /* Réduit la taille de la police pour les petits écrans */
    }

    @media (max-width: 768px) {
        /* Masquer les éléments de navigation par défaut et afficher le menu burger */
        nav ul {
            display: none;
        }
    
        .logo {
            width: 90px;
            margin-left: 40px;
            margin-left: -5px;
            margin-top: 10px;
        }
        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background-color: #227093;
        }
        
     
    
        .burger-menu {
            display: flex;
            margin-left: 220px;
            align-items: center;
        }
    
        .auth-buttons .register {
            display: none; /* Masquer le bouton d'inscription sur mobile */
        }
    
       
        
    
        /* Afficher le menu quand le burger est activé */
        .nav-list.active {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: rgba(34, 112, 147, 0.95);
        }
    
        .nav-list li {
            margin: 10px 0;
            text-align: center;
        }
    
    }  
    
    .reservation-card {
        display: flex;
        width: 400px; /* Largeur initiale */
        margin-left: -40px;
        height: 750px; /* Hauteur initiale */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background-color: white;
    }

    .body{
        margin-top: 150px;

    }
}



