
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* menu */

body {
  background-color: #f4f4f4;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.burger-menu span {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

/* Styles par défaut */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* background-color: #227093; */
background-color: #227093;
}


.logo {
  width: 220px;
  height: auto;
  margin-left: 30px;
}
/* Centrage du menu */
nav {
  text-align: center;
  width: 100%; /* Prend toute la largeur */
}

nav ul {
  display: flex;
  justify-content: center; /* Centre les éléments dans le conteneur */
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 30px; /* Espacement symétrique autour de chaque élément */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.register {
  background-color:#f7b731;
  border-radius: 30px;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  border: none;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.user-btn i {
  font-size: 30px;
  margin-right: 10px;
}

.user-btn {
  background-color:#f7b731;
  color: white;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 28px;
  display: flex;
  align-items: center;
  border: none;
  font-weight: 700;
}

.dropdown{
  display: flex;
  gap:5px
}



/* baniere */
.baniere {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh; /* Prend toute la hauteur de l'écran */
  background: linear-gradient(rgba(129, 226, 255, 0.3), rgba(129, 226, 255, 0.3)), url('../../../../assets/images/reservationtof.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  overflow: hidden;
  margin-bottom: 150px;
}

/* titre */

.titre {
  display: flex;
  justify-content: center; /* Centré si besoin pour d'autres éléments */
  width: 100%; /* Prendre toute la largeur pour le centrage */
  margin-bottom: 100px;
}

.baniere h1 {
  color:white;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin: 0; /* Supprime les marges par défaut */
}

.titre h1{
color: black;
margin-left: 130px;
font-size: 55px;
font-weight: bold;

}

/* categorie */

.reservation-container {
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-group {
  margin-bottom: 30px;
}

.categories {
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center;
  gap: 25px; /* Espace entre les cartes */
  width: 100%; 
 margin-top: 20px;
}

/* Styles pour les cartes à l'intérieur de .categories */
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le contenu de la carte */
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 40px;
  width: 300px; /* Largeur de chaque carte */
  height: 60px; /* Hauteur de chaque carte */
  font-size: 20px;
}

.category-card h3 {
  color: #333;
  margin: 0;
}

.category-card.selected {
  background-color: #227093; 
  border-color: #227093; 
  color: white;
}

.category-card.selected h3{
  color: white;
}

/*  place */


.place-icon.selected {
  position: relative; /* Nécessaire pour placer l'icône */
}

.place-icon.selected img {
  background: #bbe9b1; /* Fond vert lorsqu'il est sélectionné */
  border: 2px solid #38D614; /* Bordure verte */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Ombre pour donner du relief */
  transform: scale(1.05); /* Agrandir légèrement pour un effet de mise en avant */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour l'animation */
  width: 100px;
}


.place-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

}


.left-group, .right-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 chaises par ligne */
  width: 48%; /* Assurez-vous que les deux groupes occupent chacun environ la moitié de la largeur */
}

.place-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.left-group, .right-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 chaises par ligne */
  gap: 5px; /* Espace réduit entre les chaises */
  width: 48%; /* Les deux groupes occupent chacun environ la moitié de la largeur */
}

.place-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-icon img {
  width: 80px; /* Taille des images de chaises */
  height: auto;
  cursor: pointer;
}

.rounded-background {
  bottom: 10px; /* Placer le cercle en bas de l'image */
  left: 50%; /* Centrer horizontalement */
  background-color: #227093;
  border-radius: 100%;
  color: white;
  width: 60px;
  height: 60px;
  padding: 0; /* Enlever les espacements internes */
  font-size: 30px;
  font-weight: 700;
  display: flex; /* Utilisation de flexbox pour centrer le texte */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  text-align: center; /* Centrer le texte à l'intérieur */
}


/* boutton soumission */



button {
    width: 800px; /* L'input occupe toute la largeur de son conteneur */
    height: 90px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 35px;
    margin-top: 20px;
    font-weight: 700;
    background-color:#227093 ;
    color: white;
    text-align: center;
    cursor: pointer;

 }
h1{
    font-size: 55px;
    font-family: "Gilda Display", serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    line-height: 1;
    color: #227093;
    margin-right: 350px;
}



 
  /* responsivite */
  @media (max-width: 768px) {
    /* Masquer les éléments de navigation par défaut et afficher le menu burger */
    nav ul {
        display: none;
    }
    .dropdown{
      display: none;
    }
  
    .logo {
        width: 150px;
        margin-left: 40px;
        margin-left: -3px;
        margin-bottom: 20px;
    }
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    background-color: #227093;
    }
    /* baniere */
    .baniere {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70vh; /* Prend toute la hauteur de l'écran */
      background: linear-gradient(rgba(106, 176, 204, 0.3), rgba(132, 183, 204, 0.3)), url('../../../../assets/images/reservationtof.jpg') no-repeat center center;
      background-size: cover;
      color: white;
      overflow: hidden;
      margin-bottom: 40px;
    }
    .baniere h1 {
      color: white;
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 8px;
      margin: 0; /* Supprime les marges par défaut */
    }
    
    
    .burger-menu {
        display: flex;
        margin-left: 180px;
        margin-top: 20px;
    }

    /* Afficher le menu quand le burger est activé */
    .nav-list.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(34, 112, 147, 0.95);
    }

    .nav-list li {
        margin: 10px 0;
        text-align: center;
    }
/* responsivite de la section titre */
.reservation-container {
  width: 100%;
  text-align: center;
  padding: 0;
  text-align: center;
}
.titre {
  display: flex;
  justify-content: center; /* Centré si besoin pour d'autres éléments */
  width: 100%; /* Prendre toute la largeur pour le centrage */
  margin-bottom: 50px;
}

.titre h1{
  color: black;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  
  }

  .titre p{
    color: black;
    margin-left: -230px;
    font-size: 15px;
    flex-wrap: nowrap;
    
    }

    /* categorie */
    .categories {
      display: flex;
      justify-content: center; /* Centre les éléments horizontalement */
      align-items: center;
      gap: 5px; /* Espace entre les cartes */
      width: 100%; 
     margin-top: 20px;
    }

    .category-card {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centre le contenu de la carte */
      justify-content: center;
      text-align: center;
      padding: 10px;
      border: 1px solid #dddddd;
      border-radius: 40px;
      width: 200px; /* Largeur de chaque carte */
      height: 40px; /* Hauteur de chaque carte */
      font-size: 12px;
    }
    
    .place-icon img {
      width: 40px; /* Taille des images de chaises */
      height: auto;
      cursor: pointer;
    }

    .rounded-background {
      bottom: 10px; /* Placer le cercle en bas de l'image */
      left: 50%; /* Centrer horizontalement */
      background-color: #227093;
      border-radius: 100%;
      color: white;
      width: 20px;
      height: 20px;
      padding: 0; /* Enlever les espacements internes */
      font-size: 13px;
      font-weight: 700;
      display: flex; /* Utilisation de flexbox pour centrer le texte */
      justify-content: center; /* Centrer horizontalement */
      align-items: center; /* Centrer verticalement */
      text-align: center; /* Centrer le texte à l'intérieur */
    }
    
    .row {
      display: flex;
      justify-content: space-between;
      width: 95%;
    }
    
    .place-icon.selected img {
      background: #bbe9b1; /* Fond vert lorsqu'il est sélectionné */
      border: 2px solid #38D614; /* Bordure verte */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Ombre pour donner du relief */
      transform: scale(1.05); /* Agrandir légèrement pour un effet de mise en avant */
      transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour l'animation */
      width: 50px;
    }
    
    button {
      width: 350px; /* L'input occupe toute la largeur de son conteneur */
      height: 50px;
      padding: 10px;
      border-radius: 5px;
      border: none;
      font-size: 25px;
      margin-top: 20px;
      font-weight: 700;
      background-color:#227093 ;
      color: white;
      text-align: center;
  
   }
    
  



}



  
