

<header>
    <div class="header-content">
        <img src="../../../../assets/images/logo.png" alt="Cosoma Logo" class="logo">
        
        <button class="burger-menu" (click)="toggleMenu()" aria-label="Toggle menu">            <span></span>
        <span></span>
        <span></span>
    </button>
        
        

        <nav>
            <ul class="nav-list" [class.active]="isMenuOpen">
              <li><a href="portail">Acceuil</a></li>
              <li><a href="nouvelle_info"  class="menu-item" >Nouvelles Information</a></li>
              <li><a href="liste_trajet">Trajets En Cours</a></li>
            </ul>
          </nav>
        <div class="auth-buttons">
            <a href="inscription_user" class="btn register">S'inscrire</a>
        </div>
    </div>
    </header> 
<div class="information-container">
    <h2>Informations en cours</h2>
  
   
  
    <div *ngIf="tabInformation.length > 0" class="information-list">
      <div *ngFor="let info of tabInformation" class="information-card">
        <h1>{{ info.titre }}</h1>
        <p>{{ info.description }}</p>
      </div>
    </div>

    <div *ngIf="tabInformation.length === 0" class="vide">
        <p>Aucune information en cours pour le moment.</p>
    </div>
  </div>
  