<div class="contenu">
    <div class="sidebar">
        <div class="logo">
            <img src="../../../../assets/images/logo.png" alt="Logo">
        </div>
        <nav class="menu">
            <a [routerLink]="['/dasbaord_admin']" class="menu-item" [class.active]="isActive('/dasbaord_admin')">
                <img src="../../../../assets/images/icons/dashboard.svg" alt="">
                Dashboard
            </a>
    
            <a [routerLink]="['/afficher_trajet']" class="menu-item" [class.active]="isActive('/afficher_trajet')">
                <i class="fa-solid fa-ship"></i> Trajet
            </a>
    
            <a [routerLink]="['/ajouterTrajet']" class="menu-item" [class.active]="isActive('/ajouterTrajet')">
                <img src="../../../../assets/images/icons/group.svg" alt="">
                <i class="fa-solid fa-plus"></i> Ajouter un Trajet
            </a>
    
            <a [routerLink]="['/liste_reservation']" class="menu-item" [class.active]="isActive('/liste_reservation')">
                <i class="fa-solid fa-list"></i> Reservation
            </a>
    
            <a (click)="logout()" class="menu-item">
                <img src="../../../../assets/images/icons/logout.svg" alt="">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Déconnexion
            </a>
        </nav>
    </div>
   
        <div class="ajout-trajet-container">
            <h1 class="mb-4">AJOUTER UN TRAJET</h1>
        
            <form (ngSubmit)="saveTrajet()">
                <!-- Date de départ et Date d'arrivée sur la même ligne -->
                <div class="form-row row">
                    <div class="form-group mb-3 col-md-6">
                        <label for="date_depart">Date de départ</label>
                        <input
                            type="date"
                            id="date_depart"
                            class="form-control"
                            [(ngModel)]="trajetObject.date_depart"
                            name="date_depart"
                            required
                        />
                        <div *ngIf="errors['date_depart']" class="error-message">{{ errors['date_depart'] }}</div>
    
                    </div>
        
                    <div class="form-group mb-3 col-md-6">
                        <label for="date_arrivee">Date d'arrivée</label>
                        <input
                            type="date"
                            id="date_arrivee"
                            class="form-control"
                            [(ngModel)]="trajetObject.date_arrivee"
                            name="date_arrivee"
                            required
                        />
                        <div *ngIf="errors['date_arrivee']" class="error-message">{{ errors['date_arrivee'] }}</div>
    
                    </div>
                </div>
        
                <!-- Lieu de départ et Lieu d'arrivée sur la même ligne -->
                <div class="form-row row">
                    <div class="form-group mb-3 col-md-6">
                        <label for="lieu_depart">Lieu de départ</label>
                        <input
                            type="text"
                            id="lieu_depart"
                            class="form-control"
                            [(ngModel)]="trajetObject.lieu_depart"
                            name="lieu_depart"
                            required
                        />
                        <div *ngIf="errors['lieu_depart']" class="error-message">{{ errors['lieu_depart'] }}</div>
    
                    </div>
        
                    <div class="form-group mb-3 col-md-6">
                        <label for="lieu_arrive">Lieu d'arrivée</label>
                        <input
                            type="text"
                            id="lieu_arrive"
                            class="form-control"
                            [(ngModel)]="trajetObject.lieu_arrive"
                            name="lieu_arrive"
                            required
                        />
                        <div *ngIf="errors['lieu_arrive']" class="error-message">{{ errors['lieu_arrive'] }}</div>

                    </div>
    
                </div>
        
                <div class="form-row row">
                    <div class="form-group mb-3 col-md-6">
                        <label for="statut">Statut</label>
                        <select
                            id="statut"
                            class="form-control"
                            [(ngModel)]="trajetObject.statut"
                            name="statut"
                            required
                        >
                            <option [value]="1">Actif</option>
                            <option [value]="0">Inactif</option>
                        </select>
                    </div>
        
                    <!-- Sélection de bateau -->
                    <div class="form-group mb-3 col-md-6">
                        <label for="bateau_id">Bateau</label>
                        <select 
                            class="form-control" 
                            id="bateau_id" 
                            name="bateau_id" 
                            [(ngModel)]="trajetObject.bateau_id" 
                            required>
                            <option value="" disabled>Choisissez votre bateau</option>
                            <option *ngFor="let bateau of tabBateaux" [value]="bateau.id">
                                {{ bateau.libelle }}
                            </option>
                        </select>
                        <div *ngIf="errors['bateau_id']" class="error-message">{{ errors['bateau_id'] }}</div>
    
                    </div>
                </div>
        
                <div class="form-row row">
                    <div class="form-group mb-3 col-md-6">
                        <label for="heure_embarquement">Heure d'embarquement</label>
                        <input
                            type="time"
                            id="heure_embarquement"
                            class="form-control"
                            [(ngModel)]="trajetObject.heure_embarquement"
                            name="heure_embarquement"
                            required
                        />
                        <div *ngIf="errors['heure_embarquement']" class="error-message">{{ errors['heure_embarquement'] }}</div>
    
                    </div>
        
                    <div class="form-group mb-3 col-md-6">
                        <label for="heure_depart">Heure de départ</label>
                        <input
                            type="time"
                            id="heure_depart"
                            class="form-control"
                            [(ngModel)]="trajetObject.heure_depart"
                            name="heure_depart"
                            required
                        />
                        <div *ngIf="errors['heure_depart']" class="error-message">{{ errors['heure_depart'] }}</div>
                       
                    </div>
                </div>
        
                <!-- Champ d'image -->
               



                
                    <div class="form-group mb-3 col-md-6" id="image">
                        <label for="image">Image</label>
                        <input
                            type="file"
                            id="image"
                            class="form-control"
                            (change)="uploadImage($event)"
                        />
                    </div>
                
                
        
                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary">Ajouter le trajet</button>
            </form>
        </div>
    </div>

 
    
 