/* style sidebar */


.contenu {
  display: flex;
  position: relative; /* Nécessaire pour le positionnement du pseudo-élément */
  background-color: rgba(222, 222, 222, 0.3); /* Couleur de fond semi-transparente */
}

/* Pseudo-élément pour l'image de fond */
.contenu::before {
  content: '';
  position: absolute; /* Pour le positionner en arrière-plan */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../../../assets/images/backround_dashboard.png);
  background-size: cover; /* Pour couvrir tout le conteneur */
  opacity: 0.5; /* Ajustez l'opacité ici */
  z-index: 1; /* S'assure que l'image de fond est derrière le contenu */
}

.contenu > * {
  position: relative; /* Pour garder le contenu au-dessus de l'image */
  z-index: 2; /* Pour s'assurer que le contenu est visible au-dessus de l'image de fond */
}
.sidebar {
  background-color: #618062; /* Background color */
  color: #fff;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-radius: 0px 12px 12px 0px;
  background: #227093;
  overflow-y: hidden;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
font-size: 27px;
font-style: normal; 
font-weight: 400;
line-height: 2;
}

.logo img {
  max-width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 20px;
}

.menu {
  width: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
  border-radius: 5px;
}

.menu-item.active, .menu-item:hover {
  background-color: #ffffff; /* Highlight color for active/hovered menu items */
  color: #000; /* Text color when active/hovered */
}
.menu-item svg:hover
{
  color: #000;
}

.menu-item i {
  margin-right: 10px;
  font-size: 1.2em; /* Icon size */
}

/* Placeholder for icons (use actual icons/fonts or images) */
.icon-dashboard:before {
  content: ''; /* Dashboard icon placeholder */
}

.icon-projects:before {
  content: ''; /* Projects icon placeholder */
}

.icon-inhabitants:before {
  content: ''; /* Inhabitants icon placeholder */
}

.icon-new-project:before {
  content: ""; /* New project icon placeholder */
}

.icon-submitted-projects:before {
  content: ''; /* Submitted projects icon placeholder */
}

.icon-logout:before {
  content: ''; /* Logout icon placeholder */
}

.svg-container {
  display: inline-block;
}

.svg-container:hover .svg-path {
  fill: #000000; /* Change to black on hover */
}

.menu-item img {
  transition: filter 0.3s ease;
}

.menu-item:hover img {
  filter: grayscale(100%);
}



/* fin sidebar */
.contenu{
    display: flex;
}

.reservation-container {
    padding: 60px;
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    margin: 0 auto;
}

table {
    width: 150%;
    background-color: white;
    border-collapse: separate; /* Nécessaire pour border-spacing */
    border-spacing: 0 10px;
    border-radius: 20px;
    font-size: 21px;
    font-family: inter;

}


th, td {
    padding: 20px;
    border: 1px solid rgba(217, 217, 217, 0.3);
    text-align: left;
    background-color: rgba(217, 217, 217, 0.2); 
}





th {
    background-color: #227093;
    color: white;
    height: 40px;
    font-family: gilda;
    font-size: 25px;
}



/* tr:nth-child(even) {
    background-color: #D9D9D9;
} */

button {
    background-color: #227093; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    width: 43px;
    height: 43px;
    border-radius: 6px; /* Coins arrondis */
    padding: 5px 10px; /* Espacement intérieur */
    cursor: pointer;
    margin-left: 10px; /* Curseur en forme de main au survol */
}
.delete{
    background-color: rgba(196, 33, 33, 0.6);
}
.delete:hover{
    background-color: rgb(186, 18, 18);
}

button:hover {
    background-color: #0D8434; /* Couleur au survol */
}
h1 {
    width: 1200px; /* Fixed width */
    height: 190px; /* Fixed height */
    background-image: url(../../../../assets/Group\ 900\ \(1\).png);
    background-size: cover; /* Cover the entire container */
    color: #ffffff;
    font-family: gilda;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto; /* Center the title in its container */
    text-align: center; /* Center the text inside */
    font-size: 50px; /* Font size */
    margin-bottom: 40px; /* Space below the heading */
    border-radius: 20px; /* Rounded corners */
}


/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #227093;
    color: white;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    width: 53px;
    height: 53px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* change apparence des ligne publier */
.trajet-publie {
  background-color: #d4edda; /* Vert clair */
  color: #155724;
}

/* Classe pour un trajet non publié */
.trajet-non-publie {
  background-color: #f8d7da; /* Rouge clair */
  color: #721c24;
}



/* modal */

.modal {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Background noir avec opacité */
  }
  
  .modal.show {
    display: block; /* Afficher la modal lorsqu'elle est activée */
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
  }
  .modal-content img{
    width: 100px;
    height: 100px;
  }
  p{
    font-size: 22px;
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: red;
  }
  

