

  <div class="contenu">
    <div class="sidebar">
        <div class="logo">
          <img src="../../../../assets/images/logo.png" alt="Logo">
        </div>
        <nav class="menu">
            <!-- Lien vers le Dashboard -->
            <a  class="menu-item active">
                <img src="../../../../assets/images/icons/dashboard.svg" alt="">
                Dashboard
            </a>
      
            <!-- Lien vers la liste des projets (Projets mairie) -->
            <a class="menu-item">
                <i class="fa-solid fa-ship"></i> Trajet
              </a>
              
      
            <!-- Lien vers ajout de trajets -->
            <a  href="ajoutTrojet" class="menu-item">
              <img src="../../../../assets/images/icons/group.svg" alt="">
              <i class="fa-solid fa-plus"></i> Ajouter un Trajet
            </a>
      
            <!-- Lien vide pour Nouveau projet -->
            <a href="#" class="menu-item">
                <i class="fa-solid fa-list"></i>Reservation
            </a>
      
            <!-- Lien vers les projets soumis -->
           
      
            <!-- Lien vide pour Déconnexion -->
            <a (click)="logout()" class="menu-item">
              <img src="../../../../assets/images/icons/logout.svg" alt="">
              <i class="fa-solid fa-arrow-right-from-bracket"></i> Déconnexion
            </a>
        </nav>
      </div>

      <!-- tableau -->
      <div class="reservation-container">
        <h1>LISTE DES RESERVATIONS</h1>
        <table *ngIf="tabreservation.length > 0; else noReservations" class="reservation-table">
          <thead>
            <tr>
              <th>ID Réservation</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Nationalité</th>
              <th>Lieu de départ</th>
              <th>Lieu d'arrivée</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of getDisplayedReservations()">
              <td>{{ reservation.id }}</td>
              <td>{{ reservation.user?.prenom }}</td>
              <td>{{ reservation.user?.nom }}</td>
              <td>{{ reservation.user?.nationnalite }}</td>
              <td>{{ reservation.trajet?.lieu_depart }}</td>
              <td>{{ reservation.trajet?.lieu_arrive }}</td>
              <td>
                <button (click)="openDetailsPopup(reservation)"><i class="fa-solid fa-eye"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      
        <!-- pagination -->
        <div class="pagination">
          <button (click)="previousPage()" [disabled]="currentPage === 1">
            <i class="fa-solid fa-chevron-left fa-2x"></i>
          </button>
          <span>Page {{ currentPage }} sur {{ getTotalPages() }}</span>
          <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">
            <i class="fa-solid fa-chevron-right fa-2x"></i>
          </button>
        </div>
      
        <ng-template #noReservations>
          <p>Aucune réservation trouvée.</p>
        </ng-template>
      
        <!-- Modal -->
        <div class="modal" [ngClass]="{'show': isModalOpen}" *ngIf="selectedReservation">
          <div class="modal-content">
            <span class="close" (click)="closeDetailsPopup()">&times;</span>
            <h2>Détails de la réservation</h2>
            <p><strong>ID Réservation:</strong> {{ selectedReservation.id }}</p>
            <p><strong>Nom:</strong> {{ selectedReservation.user?.nom }}</p>
            <p><strong>Prénom:</strong> {{ selectedReservation.user?.prenom }}</p>
            <p><strong>Téléphone:</strong> {{ selectedReservation.user?.telephone }}</p>
            <p><strong>Email:</strong> {{ selectedReservation.user?.email }}</p>
            <p><strong>Nationalité:</strong> {{ selectedReservation.user?.nationnalite }}</p>
            <p><strong>Place:</strong> {{ selectedReservation.place?.libelle }}</p>
            <p><strong>Lieu d'arrivée:</strong> {{ selectedReservation.trajet?.lieu_arrive }}</p>
            <p><strong>Date Réservation:</strong> {{ selectedReservation.created_at | date: 'short' }}</p>
            <p><strong>Heure de départ:</strong> {{ selectedReservation.trajet?.heure_depart }}</p>
            <p><strong>Tarif:</strong> {{ selectedReservation.tarif?.tarif }}</p>
            <p><strong>Catégorie:</strong> {{ selectedReservation.place?.categorie?.libelle }}</p>
            <img [src]="selectedReservation.qr_code" alt="QR Code de réservation" />
          </div>
        </div>
      </div>
      
      
    
  </div>
  
   