


<header>
  <div class="header-content">
      <img src="../../../../assets/images/logo.png" alt="Cosoma Logo" class="logo">
      
      <!-- Menu burger pour mobile -->
      <button class="burger-menu" (click)="toggleMenu()" aria-label="Toggle menu">            <span></span>
      <span></span>
      <span></span>
  </button>
      
      

      <nav>
          <ul class="nav-list" [class.active]="isMenuOpen">
            <li><a href="portail"  >Acceuil</a></li>
            <li><a href="nouvelle_info">Nouvelles Information</a></li>
            <li><a href="liste_trajet" class="menu-item">Trajets En Cours</a></li>
          </ul>
        </nav>
      <div class="auth-buttons">
          <a href="inscription_user" class="btn register">S'inscrire</a>
      </div>
  </div>
  <div class="baniere">
      <div class="baniere-content">
          <h1>Bienvenue Sur Cosoma Reservation</h1>
          <p>Simplifiez vos réservations de billets pour voyager en toute sérénité. Planifiez <br>
             votre trajet maritime en quelques clics et profitez d'une expérience fluide et  <br>
             pratique.</p>
        
      </div>
  </div>
</header>


 <section class="filtreTrajet">
    <!-- Formulaire de filtrage -->
    <form (ngSubmit)="filterTrajets()">
      <div class="backroundFiltre">
    
<div class="form-group">
  <label for="dateDepart">Choisir une date de départ :</label>
  <select id="dateDepart" [(ngModel)]="selectedDate" name="dateDepart" required>
    <option value="" disabled selected>Choisir une date de départ</option>
    <option *ngFor="let date of dateDepartOptions" [value]="date">{{ date }}</option>
  </select>
</div>

<div class="form-group">
  <label for="lieuDepart"> Choisir un lieu de départ :</label>
  <select id="lieuDepart" [(ngModel)]="selectedLieuDepart" name="lieuDepart" required>
    <option value="" disabled selected>Choisir un lieu de départ</option>
    <option *ngFor="let lieu of lieuDepartOptions" [value]="lieu">{{ lieu }}</option>
  </select>
</div>



  
        <!-- Bouton de soumission -->
        <button type="submit">Rechercher</button>
      </div>
    </form>
  </section>
  
  <section class="trajet_enCours">
    <h1>Trajets En cours</h1>
  
    <!-- Boucle pour afficher les trajets -->
    <div *ngFor="let trajet of getDisplayedTrajets()">
      <!-- Affichage conditionnel pour la destination Ziguinchor -->
      <ng-container *ngIf="trajet.lieu_arrive === 'Ziguinchor'; else trajetReverse">
        <div class="trajets trajet-normal">
          <img src="../../../../assets/images/destination_zig.png" alt="Destination Ziguinchor">
          <div class="detailTrajet">
            <h2>Destination Ziguinchor</h2>
            <ul>
              <li>Date de départ prévue: {{ trajet.date_depart }}</li>
              <li>Heure de départ prévue: {{ trajet.heure_depart }}</li>
              <li>Heure d'embarquement estimée: {{ trajet.heure_embarquement }}</li>
              <li>Nombre de places restantes: {{ trajet.placesRestantes }}</li>


            </ul>
            <!-- <button (click)="navigateToReservation(trajet.id)">Réserver mon Billet</button> -->
            <button (click)=" openDialog(trajet.id)">Réserver mon Billet</button>

          </div>
        </div>
      </ng-container>
  
      <!-- Affichage alternatif pour la destination Dakar -->
      <ng-template #trajetReverse>
        <div class="trajets trajet-reverse">
          <div class="detailTrajet">
            <h2>Destination Dakar</h2>
            <ul>
              <li>Date de départ prévue: {{ trajet.date_depart }}</li>
              <li>Heure de départ prévue: {{ trajet.heure_depart }}</li>
              <li>Heure d'embarquement estimée: {{ trajet.heure_embarquement }}</li>
              <li>Nombre de places restantes: {{ trajet.placesRestantes }}</li>
            </ul>
            <!-- <button (click)="navigateToReservation(trajet.id)">Réserver mon Billet</button> -->
            <button (click)="openDialog(trajet.id)">Réserver mon Billet</button>
          </div>
          <img src="../../../../assets/images/destination_dak.png" alt="Destination Dakar">
        </div>
      </ng-template>
    </div>
  </section>




<!-- Premier Popup -->
<div class="dialog-overlay" *ngIf="isDialogOpen">
  <div class="dialog">
    <h1>Choix de reservation</h1>
    <p>Faire une reservation pour:</p>
    <button (click)="reserverPourMoi(trajet.id)">Moi</button>
    <button (click)="reserverPourAutre(trajet.id)">Un autre</button>
    <a class="close-button" (click)="closeDialog()">X</a>
  </div>
</div>

<!-- Deuxième Popup -->
<div class="dialog-overlay" *ngIf="isSecondDialogOpen">
  <div class="dialog">
    <button class="close-button" (click)="closeSecondDialog()">X</button>

    <h2>Formulaire de Réservation pour un autre</h2>
    <label>Âge:</label>
    <input type="number" [(ngModel)]="formData.age" (change)="onAgeChange()">
    <label>Prénom:</label>
    <input type="text" [(ngModel)]="formData.prenom">

    <label>Nom:</label>
    <input type="text" [(ngModel)]="formData.nom">

    <label>Numéro de Registre:</label>
    <input type="text" [(ngModel)]="formData.numero_registre">

  

    <label>Nationalité:</label>
    <input type="text" [(ngModel)]="formData.nationnalite">

    <!-- Champs supplémentaires pour les adultes -->
    <div *ngIf="!isChildForm">
      <label>Téléphone:</label>
      <input type="text" [(ngModel)]="formData.telephone">

      <label>Numéro d'identité:</label>
      <input type="text" [(ngModel)]="formData.numero_identite">
    </div>

    <button (click)="submitForm(trajet.id)">Soumettre</button>
    <!-- <button class="close-button" (click)="closeSecondDialog()">X</button> -->
  </div>
</div>

  
  <!-- Modal principal -->
  
  <!-- Formulaire pour réserver pour un autre -->
 


<!-- footer -->
<footer>
    <!-- <img src="../../../../assets/images/logo.png" alt=""> -->
    <p>&copy; 2024 Cosoma. All Rights Reserved.</p>
    <ul class="social-media">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google</a></li>
        <li><a href="#">Twitter</a></li>
    </ul>
</footer>


